<!-- NAVEGAÇÃO -->

<nav id="minhaNavbar" class="navbar  navbar-transparent navbar-fixed-top " role="navigation">

    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">

                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>

            </button>

            <a href="https://walteann.github.io/" class="navbar-brand"><span>&lt;</span>WCosta<span>/&gt;</span></a>
        </div>
        <div class="navbar-collapse collapse" id="menu">

            <ul class="nav navbar-nav navbar-right">
                <li><a class="scroll" href="#header">Home</a></li>
                <li><a class="scroll" href="#sobreMim">Sobre</a></li>
                <li><a class="scroll" href="#experiencia">Experiência</a></li>
                <li><a class="scroll" href="#skills">Habilidades</a></li>
                <li><a class="scroll" href="#contatos">Contato</a></li>
            </ul>
        </div>
    </div>
</nav>


<!-- Fim NAVEGAÇÃO -->

<!-- HEADER -->

<div class="header" id="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


                <div class="testeT">
                    <div class="WalCosta">
                        <div class="centralizar">
                            <h1><strong>WALTEANN COSTA</strong></h1>
                        </div>
                    </div>
                    <div style="color: black;">
                        <span class="element"></span>
                    </div>

                </div>


            </div>
        </div>

    </div>
</div>

<!-- FIM HEADER -->


<!-- SOBRE MIM -->

<section id="sobreMim" class="sobreMim">
    <div id="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  ">
                <img class=" wow fadeInDown" src="assets/imagem/Walteann.jpg" alt="Avatar" data-wow-delay="0.2s">
                <h2>Sobre Mim</h2>
                <div class="resumo">
                    <div id="sobremim" class="wow fadeInUp" data-wow-delay="0.2s">
                        <p>Olá, me chamo Walteann Costa, tenho 22 anos. Estudo Ciência da Computação e tecnologia da informação
                            (TI) é a área que venho me dedicando a aprender e praticando desde que ganhei o meu primeiro
                            computador. Diante disso, decidi que seria esta a profissão que seguiria. O que mais gosto de
                            fazer é programar, construir soluções para uma determinada estratégia. Ser desafiado a ir em
                            busca de aprender e conhecer novas tecnologias, ter a curiosidade de pensar “como isso se comportaria
                            se trocado por aquilo? ”. E com relação a front-end ou backend, ainda não tenho um lado definido,
                            em verdade gosto dos dois. Ainda não sou especialista em programação, mas já possuo habilidades
                            que me faz querer disputar no mercado de trabalho. Gosto de trabalhar em equipe, de ser participativo
                            e poder contribuir com minhas opiniões e conclusões. Estou sempre à disposição em ajudar e apoiar
                            quando necessário for. Portanto, fique à vontade em entrar e contato e saber mais. </p>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>

<!-- FIM SOBRE MIM -->

<!-- Perfil -->

<section class="perfil" id="perfil">
    <div class="container-fluid">
        <div class="row">
            <div class="meuPerfil">
                <div class="col-lg-2 col-md-2 oPerfil wow fadeInLeft" data-wow-delay="0.7s">

                    <div class="imagem"><img src="assets/imagem/perfil/284219.png" alt="trabalho em equipe"></div>
                    <h5>Trabalho Em Equipe</h5>
                    <div class="perf">
                        <p>Essencial para Desenvolvimento dos Projetos</p>
                    </div>

                </div>
                <div class="col-lg-2 col-md-2 oPerfil wow fadeInLeft" data-wow-delay="0.4s">
                    <div class="imagem">
                        <img src="assets/imagem/perfil/296393.png" alt="Pro ativo"></div>
                    <h5>Pro-Ativo</h5>
                    <div class="perf">
                        <p>Dar iniciativa, assumir responsabilidade e riscos</p>
                    </div>

                </div>


                <div class="col-lg-2 col-md-2 oPerfil wow fadeInLeft" data-wow-delay="0.1s">
                    <div class="imagem">
                        <img src="assets/imagem/perfil/285167.png" alt="logica"></div>
                    <h5>Raciocínio</h5>
                    <div class="perf">
                        <p>Bom em Logica de Programação</p>
                    </div>

                </div>
                <div class="col-lg-2 col-md-2 oPerfil wow fadeInRight" data-wow-delay="0.1s">
                    <div class="imagem">
                        <img src="assets/imagem/perfil/295963.png" alt="desafios"></div>
                    <h5>Challenge Accepted</h5>
                    <div class="perf">
                        <p>Buscar novos Desafios</p>
                    </div>

                </div>

                <div class="col-lg-2 col-md-2 oPerfil wow fadeInRight" data-wow-delay="0.4s">

                    <div class="imagem">
                        <img src="assets/imagem/perfil/295355.png" alt="buscar conhecimento"></div>
                    <h5>Conhecimento</h5>
                    <div class="perf">
                        <p>Crucial é: nunca deixar de Aprender </p>
                    </div>


                </div>

                <div class="col-lg-2 col-md-2 oPerfil wow fadeInRight" data-wow-delay="0.7s">

                    <div class="imagem">
                        <img src="assets/imagem/perfil/297407.png" alt="programador"></div>
                    <h5>Desenvolvedor</h5>
                    <div class="perf">
                        <p>Minha maior arte é programar</p>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>

<section id="experiencia" class="sobreMim2">
    <div id="container-fluid">
        <div class="row">
            <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  ">
              <h2>EXPERIÊNCIA</h2>
          </div> -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  ">
                <h2>EXPERIÊNCIA</h2>
                <img class=" wow fadeInUp" src="assets/imagem/portfolio/Acc_Technology.png" alt="accenture" data-wow-delay="0.2s" width="250">
                <div class="resumo2">
                    <div id="sobremim2" class="wow fadeInUp" data-wow-delay="0.2s">
                        <p>Trabalho atualmente na Accenture.</p>
                    </div>
                </div>
                <img class=" wow fadeInDown" src="assets/imagem/portfolio/persyos.png" alt="persyos" data-wow-delay="0.2s">
                <div class="resumo2">
                    <div id="sobremim2" class="wow fadeInUp" data-wow-delay="0.2s">
                        <p>Estagiei na Persyos Sistema Customizados como programador/suporte no sistema perfisios na qual
                            é um sistema exclusivo para a area de fisioterapia. Fui responsável pela manutenção e criação
                            de melhorias no sistema.</p>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>



<!-- FIM PERFIL-->
<!-- EXPERIENCIA -->
<!-- FIM EXPERIENCIA -->
<!-- PORTFOLIO -->

<section class="portfolio" id="portfolio">
    <div class="container-fluid">
        <div class="row">
            <h2>Portfólio</h2>
            <div class="port">
                <!-- <div class="meuPortfolio wow fadeInLeftBig" data-wow-delay="0.2s">
      <div class="col-lg-4 col-md-4">
        <img src="assets/imagem/portfolio/bkground.jpg" alt="portfolio1">
        <div class="strings">
          <h3>&lt;WCosta&gt;</h3>
          <p>Pagina WCosta</p>
        </div>
      </div>
    </div> -->
                <div class="meuPortfolio wow fadeInUpBig" data-wow-delay="0.4s">
                    <div class="col-lg-4 col-md-4">
                        <img src="assets/imagem/pages/kulpper.jpg" alt="portfolio2">
                        <div class="strings">
                            <h3><a href="pages/kulpperpage/kulpper.html">kulpper</a></h3>

                        </div>
                    </div>
                </div>
                <!-- <div class="meuPortfolio wow fadeInRightBig" data-wow-delay="0.6s">
      <div class="col-lg-4 col-md-4">
        <img src="assets/imagem/portfolio/bkground3.jpg" alt="portfolio3">
        <div class="strings">
          <h3>EventStudy</h3>
          <p>Em Construção</p>
        </div>
      </div>
    </div> -->
            </div>

        </div>
    </div>
</section>

<!-- Fim Portfolio

<!-- HABILIDADES -->

<section class="habilidades" id="skills">
    <div class="container-fluid">
        <div class="row">
            <h1>Habilidades</h1>
            <hr>
            <div class="col-lg-4 col-md-4">
                <h2>Idiomas</h2>
                <div class="idiomas">
                    <div class="meusIdiomas">

                        <label>Português:</label>
                        <div class="teste">
                            <i class="fa fa-star wow fadeInLeft" aria-hidden="true" data-wow-delay="0.2s"></i>
                            <i class="fa fa-star wow fadeInLeft" aria-hidden="true" data-wow-delay="0.4s"></i>
                            <i class="fa fa-star wow fadeInLeft" aria-hidden="true" data-wow-delay="0.6s"></i>
                            <i class="fa fa-star wow fadeInLeft" aria-hidden="true" data-wow-delay="0.8s"></i>
                            <i class="fa fa-star wow fadeInLeft" aria-hidden="true" data-wow-delay="1.0s"></i>
                            <i class="fa fa-star wow fadeInLeft" aria-hidden="true" data-wow-delay="1.2s"></i>

                        </div><br>
                    </div>
                    <div class="meusIdiomas">
                        <label>Inglês/Leitura</label>
                        <div class="teste">
                            <i class="fa fa-star wow fadeInLeft" aria-hidden="true" data-wow-delay="1.3s"></i>
                            <i class="fa fa-star wow fadeInLeft" aria-hidden="true" data-wow-delay="1.5s"></i>
                            <i class="fa fa-star-half-o wow fadeInLeft" aria-hidden="true" data-wow-delay="1.7s"></i>
                            <i class="fa fa-star-o wow fadeInLeft" aria-hidden="true" data-wow-delay="1.9s"></i>
                            <i class="fa fa-star-o wow fadeInLeft" aria-hidden="true" data-wow-delay="2.1s"></i>
                            <i class="fa fa-star-o wow fadeInLeft" aria-hidden="true" data-wow-delay="2.3s"></i>

                        </div><br>
                    </div>
                    <div class="meusIdiomas">
                        <label>Inglês/Conversação:</label>
                        <div class="teste">
                            <i class="fa fa-star wow fadeInLeft" aria-hidden="true" data-wow-delay="2.4s"></i>
                            <i class="fa fa-star wow fadeInLeft" aria-hidden="true" data-wow-delay="2.6s"></i>
                            <i class="fa fa-star-o wow fadeInLeft" aria-hidden="true" data-wow-delay="2.8s"></i>
                            <i class="fa fa-star-o wow fadeInLeft" aria-hidden="true" data-wow-delay="3.0s"></i>
                            <i class="fa fa-star-o wow fadeInLeft" aria-hidden="true" data-wow-delay="3.2s"></i>
                            <i class="fa fa-star-o wow fadeInLeft" aria-hidden="true" data-wow-delay="3.4s"></i>

                        </div><br>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4">

                <h2>Conhecimento em:</h2>
                <div class="skills">
                    <div class="skills2 wow fadeInLeft" data-wow-delay="0.1s">
                        <img src="assets/imagem/skills/php.png" alt="php"></div>
                    <div class="skills2 wow fadeInDown" data-wow-delay="0.2s"><img src="assets/imagem/skills/java.png" alt="java"></div>
                    <div class="skills2 wow fadeInUp" data-wow-delay="0.4s"><img src="assets/imagem/skills/angularjs.png"
                            alt="angularjs"></div>
                    <div class="skills2 wow fadeInRight" data-wow-delay="0.3s"><img src="assets/imagem/skills/csharp.png"
                            alt="csharp"></div>
                    <div class="skills2 wow fadeInLeft" data-wow-delay="0.4s"><img src="assets/imagem/skills/html5.png" alt="html5"></div>
                    <div class="skills2 wow fadeInDown" data-wow-delay="0.5s"><img src="assets/imagem/skills/css3.png" alt="css3"></div>
                    <div class="skills2 wow fadeInRight" data-wow-delay="0.6s"><img src="assets/imagem/skills/javascript.png"
                            alt="javascript"></div>
                    <div class="skills2 wow fadeInUp" data-wow-delay="0.6s"><img src="assets/imagem/skills/es6.png" alt="ecmascript6"></div>
                    <div class="skills2 wow fadeInLeft" data-wow-delay="0.7s"><img src="assets/imagem/skills/jquery.png"
                            alt="jquery"></div>
                    <div class="skills2 wow fadeInUp" data-wow-delay="0.8s"><img src="assets/imagem/skills/mysql.png" alt="mysql"></div>
                    <div class="skills2 wow fadeInDown" data-wow-delay="0.8s"><img src="assets/imagem/skills/bootstrap3.png"
                            alt="bootstrap321"></div>
                    <div class="skills2 wow fadeInUp" data-wow-delay="0.8s"><img src="assets/imagem/skills/materialize.png"
                            alt="materialize"></div>
                    <div class="skills2 wow fadeInRight" data-wow-delay="0.9s"><img src="assets/imagem/skills/photoshop.png"
                            alt="photoshop"></div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4">
                <h2>Familiarizado com</h2>
                <div class="skills">
                    <div class="skills2 wow fadeInLeft" data-wow-delay="0.1s"><img src="assets/imagem/skills/git.png" alt="git"></div>
                    <div class="skills2 wow fadeInLeft" data-wow-delay="0.2s"><img src="assets/imagem/skills/github.png"
                            alt="github"></div>
                    <div class="skills2 wow fadeInLeft" data-wow-delay="0.5s"><img src="assets/imagem/skills/filezilla.png"
                            alt="filezilla"></div>
                    <div class="skills2 wow fadeInLeft" data-wow-delay="0.3s"><img src="assets/imagem/skills/tortoisesvn.png"
                            alt="tortoise"></div>
                    <div class="skills2 wow fadeInLeft" data-wow-delay="0.4s"><img src="assets/imagem/skills/sql.png" alt="sql"></div>
                    <div class="skills2 wow fadeInLeft" data-wow-delay="0.5s"><img src="assets/imagem/skills/xampp.png" alt="xampp"></div>
                    <div class="skills2 wow fadeInLeft" data-wow-delay="0.6s"><img src="assets/imagem/skills/trello.png"
                            alt="trello"></div>
                    <div class="skills2 wow fadeInLeft" data-wow-delay="0.7s"><img src="assets/imagem/skills/moqups.png"
                            alt="moqups"></div>

                </div>

            </div>

        </div>
    </div>
</section>

<!-- FIM HABILIDADES -->

<!-- CONTATOS -->

<section class="contatos" id="contatos">
    <div class="container">
        <div class="row">
            <div>

                <div class="col-lg-6 col-md-6">
                    <h2>Contatos</h2>
                    <i class="fa fa-home" aria-hidden="true"></i><span>Cabo - PE, 54520-570. BRASIL</span>
                    <br>
                    <i class="fa fa-envelope-o" aria-hidden="true"></i><span> walteann3@gmail.com</span>
                    <br>
                    <i class="fa fa-whatsapp" aria-hidden="true"></i><span>081 9 8342-6525</span>
                    <br>
                    <i class="fa fa-globe" aria-hidden="true"></i><span>https://walteann.github.io/</span>
                </div>

                <div class="col-lg-6 col-md-6 anexos">
                    <h2>Anexos</h2>
                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i><a href="./../assets/files/WalteannCosta.pdf" target="_blank">Curriculo</a><br>




                </div>

            </div>
        </div>
    </div>
</section>


<!-- FIM CONTATOS-->

<!-- FOOTER -->

<footer class="rodape">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 rodapefinal">

                <div class="minhasRedes">
                    <div class="redesocial"><a href="https://www.facebook.com/walteann.costa" target="_blank"><i class="fa fa-facebook"
                                aria-hidden="true"></i></a></div>
                    <div class="redesocial"><a href="https://www.linkedin.com/in/walteann-costa" target="_blank"><i class="fa fa-linkedin"
                                aria-hidden="true"></i></a></div>
                    <div class="redesocial"><a href="https://github.com/walteann" target="_blank"><i class="fa fa-github"
                                aria-hidden="true"></i></a></div>

                </div>
                <h6>&copy;Desenvolvido por Walteann Costa</h6>
                <br>

            </div>
        </div>
    </div>
</footer>


