* {

    padding: 0;
    margin: 0;
}

body{
	overflow-x: hidden;
	
}

/********* NAVEGADOR ********/



.menu-fixo{
	background-color:#13181b;
}

.menu-fixo div ul li a {
	color: #98d2ff !important;
}

.menu-fixo a:hover{
	background-color: red;
}
.menu-fixo .navbar-brand {
	color: #98d2ff !important;
}

.menu-fixo .icon-bar {
	background-color: #98d2ff !important;
}




/** teste **/




.navbar-default{
	background-color: rgba(0,0,0,0.0);
}

.navbar{
	width:100%;
	text-transform: uppercase;
	font-family: 'Comic Sans MS',Arial,sans-serif;
	transition: background-color 1s ease 0s;
	font-weight: 700;
	
}

.navbar a {
	color: #13181b !important;
	opacity: 0.7 ;
}

.navbar a:hover{
	background-color: #13181b ;
}

.navbar .icon-bar{
	background-color: #13181b ;
}


.navbar .navbar-collapse a {
	background-color: #13181b;
	text-align: center;
	color: #98d2ff !important;
}
.navbar .navbar-collapse a:hover {
	background-color: rgba(24,32,37,0.8);
}


.navbar button:hover {
	opacity: 1;
	
}

.navbar-brand {
	font-family: "Economica",Arial,sans-serif;
	font-size: 30px;
	color: #13181b !important;
}


/******** HEADER ********/

.header {
	height: 450px;
	width: 100%;
	padding: 30px 0 30px;
	
	background-image: url(../imagem/bkground.jpg);
	background-position: center center;
	background-position: no-repeat;
	background-size: cover;
	color: #FFFFFF;
	
	
}

.header .testeT{
	
	height: 100px;
	width: 300px;
	text-align: center;
	margin: 0 auto;
	margin-top: 275px;
}

.header div span {
	color: #FFF;
	font-size: 25px;
	font-weight: 500;
	padding-top: 240px;
	text-align: center;
	
}


/***** SobreMim*******/

.sobreMim{
	width:100%;
	background-color: #FFF;
	background-image: url(../imagem/sobreMim.png);
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 100px;
	
		
}

.sobreMim img {
	height: 150px;
	width: 150px;
	border-radius: 50%;
	margin: 50px;
	margin-bottom: 25px;
}


.sobreMim h2{
	margin-top: -5px;
	font-family: "Handlee",Arial,sans-serif;
	font-weight: 700;
	color: #241e1f;
}
.sobreMim p{
	font-family: "Calibri",Arial,sans-serif;
	font-weight: 600;
	color: #241e1f;
}
.sobreMim #sobremim{
	margin: 15px 15px 45px 15px;
	
}


/**** PERFIL ***/


.perfil {
	width: 100%;
	background-color: #ffefd1;
	padding-top: 50px;
	padding-bottom: 50px;
		
}

.meuPerfil{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	text-align: center;
	
	
}

.oPerfil{
	height: 200px;
	width: 150px;
	margin-top: 30px;
	
	
	
}

.perfil img {
	height: 60px;
	margin: 15px 0 15px 0;
	margin-top: 15px;
	
}

.imagem {
	height: 90px;
	width: 90px;
	background-color: #FFF;
	border-radius: 50%;
	margin: 0 auto;
	
}

.oPerfil h5 {
	text-transform: uppercase;
	font-family: "Comic Sans MS",Arial,sans-serif;
	font-weight: 700;
	font-size: 10pt;
	margin-bottom: 2px;
}

.oPerfil p {
	
	font-family: "Comic Sans MS",Arial,sans-serif;
	font-weight: 200;
}

/***** PORTFOLIO *****/

.portfolio {
	width: 100%;
	background-color: #c1eafb;
	padding: 50px 0 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
	text-align: center;
	align-items: center;
	padding-top: 160px;
	padding-bottom: 160px;
		
}
.portfolio h2 {
	text-transform: uppercase;
	font-family: "Economica",Arial,sans-serif;
	font-size: 30pt;
	font-weight: 700;
		
}

.meuPortfolio {
	width: 250px;
}

.meuPortfolio img{
	width: 200px;
	margin: 10px;
	border-radius: 15px;
		
}

.meuPortfolio h3 {
	font-family: "Handlee",Arial,sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 15pt;
}

.meuPortfolio p {
	font-family: "Comic Sans MS",Arial,sans-serif;
	
}


/****** habilidades ******/





.habilidades {
	padding: 165px 0 30px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
	align-items: center;
	background-color: #f3fcfc;
	padding-bottom: 165px;
	
	
}

.habilidades .skills{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}


.habilidades .skills2{
	height: 80px;
	width:80px;
}

.habilidades img {
	
	width: 50px;
	margin: 15px;
	
}

.idiomas {
	padding: 10px;
	text-align: left;
	width: 300px;
	margin: 5px;
}
.idiomas .teste{
	margin-top: -27px;
	text-align: right
}

.habilidades h1,h2 {
	font-size: 25pt;
	font-family: "Economica",Arial,sans-serif;
	text-transform: uppercase;
	
}

.habilidades label {
	font-family: "Economica",Arial,sans-serif;
	font-size: 15pt;
}
.habilidades i {
	font-size: 14pt;
}
/*** CONTATOS ***/

.contatos {
	width: 100%;
	padding: 15px 0 0;
	background-color: #13181b;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	
	
}
.contatos h2 {
	text-align: center;
	color: #56636e;
}

.contatos i {
	color:#98d2ff;
	font-size: 20pt;
	margin-bottom: 10px;
}
.contatos span{
	color: #56636e;
	margin-left: 15px;
}
.anexos a{
	color: #56636e;
	margin-left:15px;
	
}

.anexos a:hover{
	cursor:pointer;
	color: #98d2ff;
}


.rodapefinal{
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	margin-top: -15px;
}
.minhasRedes {
	height: 55px;
	width: 300px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
	margin-bottom: -10px;
	
}
.minhasRedes div {
	
	height: 50px;
	width: 50px;
	padding: 10px;
	
}

.redesocial {
	padding: 12px;
}

.redesocial i {
	color: #56636e;
	font-size: 25pt;
	transition: all 0.6s ease-out;	
}

.redesocial i:hover {
	color: #98d2ff ;
	font-size: 28pt;
	cursor: pointer;
	transform: translateY(-10px);
	
}

/*** RODAPE **/
.rodape {
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #13181b;
	text-align: center;
	color: #56636e;
	
}


/** TESTE **/
@media only screen and (min-width: 768px){
	
	.header {
		padding: 30px;
		height: 600px;
	}
	
	
	.header .testeT{
	
	height: 150px;
	width: auto;
	
	margin-top: 320px;
}

.header div span {
	
	font-size: 50px;
	
}
	
	
	.oPerfil {
		margin-left: 45px;
	}
	
	.sobreMim{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	
	#sobremim {
		
		width: 700px;
		
	}
	
	
	.port {
		display: flex;
		flex-direction: row;
		justify-content:space-around;
		flex-wrap: wrap;
		
	}
	
	
	
	
}

@media only screen and (min-width: 985px){
	
	
	
	
	.oPerfil {
		margin-left: 0px;
	}
	

	.resumo {
		display: flex;
		
	}
	
	
	#sobremim P{
		width: 700px;
		
	}
	
	
	
	.meuPortfolio .strings{
		width: 220px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		text-align: center;
		align-items: center;
	}
	
	.meuPortfolio h3,p{
		text-align: center;
		width: 200px;
	}
	
	.oPerfil .perf {
		width: 150px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		text-align: center;
		margin-left: -15px;
	}
	
	
}

























